# Occupation

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)

### 读入u.user文件,以user_id列为index

In [6]:
occ = pd.read_csv('./data/u.user',sep='|',index_col='user_id')
occ

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### 每种职业的平均年龄

In [16]:
occ_grp = occ.groupby('occupation')

In [21]:
occ_grp.age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
                   ...
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, Length: 21, dtype: float64

### 每种职业中的男性比例，并从大到小排序

In [56]:
occ_grp1 = occ.groupby(['occupation','gender'])
occ_sum = occ_grp1.sum()
occ_sum
# occ_sum.div(occ_sum,axis=0)

SyntaxError: invalid syntax (<ipython-input-56-f7cc476efbf2>, line 3)

In [54]:
occ.gender

user_id
1      M
2      F
3      M
4      M
5      F
      ..
939    F
940    M
941    M
942    F
943    M
Name: gender, Length: 943, dtype: object

### 每种职业的最小，最大年龄

In [31]:
occ_grp.age.max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
                 ..
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, Length: 21, dtype: int64

In [23]:
occ_grp.age.min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
                 ..
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, Length: 21, dtype: int64

### 按照职业，性别统计平均年龄

In [61]:
occ_grp2 = occ.groupby(['occupation','gender'])
occ_grp2.age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
                           ...
student        M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, Length: 41, dtype: float64

### 每种职业的男性，女性比例