In [1]:
import numpy as np
import pandas as pd

In [2]:
price = pd.Series([15280,45888,15692,55689,28410,27566])
price

0    15280
1    45888
2    15692
3    55689
4    28410
5    27566
dtype: int64

In [3]:
type(price)

pandas.core.series.Series

In [4]:
price = pd.Series([15280,45888,15692,55689,28410,27566],name="price")
price

0    15280
1    45888
2    15692
3    55689
4    28410
5    27566
Name: price, dtype: int64

In [5]:
temp = {'Mon':33, 'Tue':19, 'Wed':15, 'Thu':89, 'Fri':11, 'Sat':-5, 'Sun':9}
pd.Series(temp)

Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
dtype: int64

In [6]:
price.mean()

31420.833333333332

In [7]:
price.sum()

188525

In [8]:
price.head(2)

0    15280
1    45888
Name: price, dtype: int64

In [10]:
price.tail(2)

4    28410
5    27566
Name: price, dtype: int64

In [12]:
price.max()

55689

In [13]:
price = pd.Series([15280,45888,15692,55689,28410,27566])
price.dtype

dtype('int64')

In [14]:
price = pd.Series([15280,45888,15692,55689,28410,27566.3])
price.dtype

dtype('float64')

In [15]:
city = pd.Series(['wh','sh','hz','bj','gz','nj'])
city.dtype

dtype('O')

In [17]:
temp = pd.Series([{},[],(3,4)])
temp.dtype

dtype('O')

In [18]:
x = pd.Series(['2016-01-01','2017-01-01'])
print(x.dtype)
pd.to_datetime(x)

object

0   2016-01-01
1   2017-01-01
dtype: datetime64[ns]

In [19]:
x=pd.Series(['hw','apple','vivo','mi','hw','oppo','samsung','vivo'],dtype='category')
x

0         hw
1      apple
2       vivo
3         mi
4         hw
5       oppo
6    samsung
7       vivo
dtype: category
Categories (6, object): [apple, hw, mi, oppo, samsung, vivo]

#boolean

In [20]:
mask = pd.Series([True,False,True,True,False,False])
mask

0     True
1    False
2     True
3     True
4    False
5    False
dtype: bool

In [21]:
price

0    15280.0
1    45888.0
2    15692.0
3    55689.0
4    28410.0
5    27566.3
dtype: float64

In [22]:
price[mask]

0    15280.0
2    15692.0
3    55689.0
dtype: float64

In [24]:
mask2=pd.Series([True,True,True,True,False,True])
mask | mask2

0     True
1     True
2     True
3     True
4    False
5     True
dtype: bool

In [25]:
mask&mask2

0     True
1    False
2     True
3     True
4    False
5    False
dtype: bool

In [27]:
~mask

0     True
1    False
2     True
3     True
4    False
5    False
dtype: bool

In [28]:
price>20000&price<30000

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [29]:
price[(price>20000)&(price<30000)]

4    28410.0
5    27566.3
dtype: float64

In [30]:
temp=[True,False,True,True,False,False]
temp2=[True,False,True,True,False,False]
temp & temp2

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [31]:
price

0    15280.0
1    45888.0
2    15692.0
3    55689.0
4    28410.0
5    27566.3
dtype: float64

In [32]:
price[2]

15692.0

In [33]:
price = pd.Series([15280,45888,15692,55689,28410,27566.3],index=['wh','sh','hz','bj','gz','nj'])
price

wh    15280.0
sh    45888.0
hz    15692.0
bj    55689.0
gz    28410.0
nj    27566.3
dtype: float64

In [34]:
price['sh']

45888.0

In [35]:
price.index

Index(['wh', 'sh', 'hz', 'bj', 'gz', 'nj'], dtype='object')

In [36]:
price.index.name = 'city'
price

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    55689.0
gz    28410.0
nj    27566.3
dtype: float64

In [40]:
dates = pd.date_range('2016-01-01','2016-06-01',freq='M')
dates

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31'],
              dtype='datetime64[ns]', freq='M')

In [41]:
temperature = pd.Series([13,15,20,27,29],index=dates)
temperature

2016-01-31    13
2016-02-29    15
2016-03-31    20
2016-04-30    27
2016-05-31    29
Freq: M, dtype: int64

In [42]:
temperature.index.name = 'temp'

In [43]:
temperature

temp
2016-01-31    13
2016-02-29    15
2016-03-31    20
2016-04-30    27
2016-05-31    29
Freq: M, dtype: int64

In [44]:
temp = pd.Series([13,15,20,27,29],index=[0,2,2,3,4])
temp

0    13
2    15
2    20
3    27
4    29
dtype: int64

In [45]:
temp = pd.Series([13,15,20,27,29])
temp

0    13
1    15
2    20
3    27
4    29
dtype: int64

In [46]:
temp[0]

13

In [47]:
temp[3]

27

In [49]:
temp.loc[0]

13

In [50]:
temp.iloc[-1]

29

In [51]:
temp.iloc[0:3]

0    13
1    15
2    20
dtype: int64

In [52]:
temp = pd.Series([13,15,20,27,29],index=['M','T','W','T','F'])
temp

M    13
T    15
W    20
T    27
F    29
dtype: int64

In [53]:
temp['T']

T    15
T    27
dtype: int64

In [54]:
temp['M']

13

In [55]:
temp.T

M    13
T    15
W    20
T    27
F    29
dtype: int64

In [56]:
price

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    55689.0
gz    28410.0
nj    27566.3
dtype: float64

In [57]:
price['wh'] = 16000

In [58]:
price

city
wh    16000.0
sh    45888.0
hz    15692.0
bj    55689.0
gz    28410.0
nj    27566.3
dtype: float64

In [59]:
price.iloc[0] = 15280
price

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    55689.0
gz    28410.0
nj    27566.3
dtype: float64

In [60]:
price.append(pd.Series([9500],index=['cd']))
price

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    55689.0
gz    28410.0
nj    27566.3
dtype: float64

In [61]:
price['cd'] = 9500
price

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    55689.0
gz    28410.0
nj    27566.3
cd     9500.0
dtype: float64

In [62]:
price

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    55689.0
gz    28410.0
nj    27566.3
cd     9500.0
dtype: float64

In [63]:
price.set_value('bj',62000)

C:\Users\38071\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    62000.0
gz    28410.0
nj    27566.3
cd     9500.0
dtype: float64

In [64]:
price

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    62000.0
gz    28410.0
nj    27566.3
cd     9500.0
dtype: float64

In [65]:
del price['nj']

In [66]:
price

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    62000.0
gz    28410.0
cd     9500.0
dtype: float64

In [67]:
price < 50000

city
wh     True
sh     True
hz     True
bj    False
gz     True
cd     True
dtype: bool

In [68]:
price[price<50000]

city
wh    15280.0
sh    45888.0
hz    15692.0
gz    28410.0
cd     9500.0
dtype: float64

In [69]:
price.min()

9500.0

In [70]:
price.max()

62000.0

In [71]:
price.median()

22051.0

In [72]:
price.describe()

count        6.000000
mean     29461.666667
std      20585.747940
min       9500.000000
25%      15383.000000
50%      22051.000000
75%      41518.500000
max      62000.000000
dtype: float64

In [74]:
price.quantile(0.5)

22051.0

In [75]:
price.describe(percentiles=[0.25,0.5])

count        6.000000
mean     29461.666667
std      20585.747940
min       9500.000000
25%      15383.000000
50%      22051.000000
max      62000.000000
dtype: float64

In [76]:
temp=pd.Series(['hw','apple','vivo','mi','hw','oppo','samsung','vivo'],dtype='category')
temp

0         hw
1      apple
2       vivo
3         mi
4         hw
5       oppo
6    samsung
7       vivo
dtype: category
Categories (6, object): [apple, hw, mi, oppo, samsung, vivo]

In [78]:
temp=pd.Series(['hw','apple','vivo','mi','hw','oppo','samsung','vivo'])
temp

0         hw
1      apple
2       vivo
3         mi
4         hw
5       oppo
6    samsung
7       vivo
dtype: object

In [79]:
temp=pd.Series(['hw','apple','vivo','mi','hw','oppo','samsung','vivo'],dtype='category')
temp

0         hw
1      apple
2       vivo
3         mi
4         hw
5       oppo
6    samsung
7       vivo
dtype: category
Categories (6, object): [apple, hw, mi, oppo, samsung, vivo]

In [80]:
temp.value_counts()

vivo       2
hw         2
samsung    1
oppo       1
mi         1
apple      1
dtype: int64

向量化操作与广播

In [81]:
price * 2

city
wh     30560.0
sh     91776.0
hz     31384.0
bj    124000.0
gz     56820.0
cd     19000.0
dtype: float64

In [82]:
price + 1000

city
wh    16280.0
sh    46888.0
hz    16692.0
bj    63000.0
gz    29410.0
cd    10500.0
dtype: float64

In [83]:
np.log(price)

city
wh     9.634300
sh    10.733959
hz     9.660906
bj    11.034890
gz    10.254496
cd     9.159047
dtype: float64

In [85]:
li = [2000,3000,4000]

In [86]:
li * 3

[2000, 3000, 4000, 2000, 3000, 4000, 2000, 3000, 4000]

In [87]:
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [88]:
s2 = pd.Series([10,20,30],index=[2,3,4])
s2

2    10
3    20
4    30
dtype: int64

In [89]:
s + s2

0     NaN
1     NaN
2    40.0
3    60.0
4     NaN
dtype: float64

In [91]:
s.apply(float)

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64

In [92]:
s.astype(int)

0    10
1    20
2    30
3    40
dtype: int32

In [93]:
s

0    10
1    20
2    30
3    40
dtype: int64

In [95]:
for num in s:
    print(num)

10
20
30
40

In [96]:
40 in s

False

In [97]:
40 in s.values

True

In [98]:
0 in s

True

In [99]:
price

city
wh    15280.0
sh    45888.0
hz    15692.0
bj    62000.0
gz    28410.0
cd     9500.0
dtype: float64

In [100]:
'bj' in price

True

In [101]:
li = [10,20,30,40]
40 in li

True

In [103]:
for k,v in price.items():
    print(k,v)

wh 15280.0
sh 45888.0
hz 15692.0
bj 62000.0
gz 28410.0
cd 9500.0